@import "../../scss/main.scss";

#Layer_8, #Layer_7 {
    opacity: 0.7;
}

.cls-1,
.cls-12 {
    mask: url(#mask);
}

.cls-1 {
    filter: url(#luminosity-noclip-15);
}

.cls-10,
.cls-11,
.cls-13,
.cls-15,
.cls-16,
.cls-18,
.cls-2,
.cls-20,
.cls-22,
.cls-24,
.cls-25,
.cls-4,
.cls-44,
.cls-46,
.cls-48,
.cls-50,
.cls-55,
.cls-58,
.cls-6,
.cls-64,
.cls-66,
.cls-67,
.cls-76,
.cls-8 {
    mix-blend-mode: multiply;
}

.cls-2 {
    fill: url(#radial-gradient);
}

.cls-3 {
    mask: url(#mask-2);
}

.cls-4 {
    fill: url(#linear-gradient);
}

.cls-5,
.cls-7 {
    mask: url(#mask-3);
}

.cls-5 {
    filter: url(#luminosity-noclip-20);
}

.cls-6 {
    fill: url(#radial-gradient-2);
}

.cls-7 {
    filter: url(#luminosity-noclip-21);
}

.cls-8 {
    fill: url(#linear-gradient-2);
}

.cls-9 {
    mask: url(#mask-5);
}

.cls-10 {
    fill: url(#linear-gradient-3);
}

.cls-11 {
    fill: url(#linear-gradient-4);
}

.cls-12 {
    filter: url(#luminosity-noclip-16);
}

.cls-13 {
    fill: url(#linear-gradient-5);
}

.cls-14 {
    mask: url(#mask-8);
}

.cls-15 {
    fill: url(#linear-gradient-6);
}

.cls-16 {
    fill: url(#linear-gradient-7);
}

.cls-17 {
    mask: url(#mask-10);
    filter: url(#luminosity-noclip-24);
}

.cls-18 {
    fill: url(#linear-gradient-8);
}

.cls-19 {
    mask: url(#mask-11);
    filter: url(#luminosity-noclip-25);
}

.cls-20 {
    fill: url(#linear-gradient-9);
}

.cls-21 {
    mask: url(#mask-12);
    filter: url(#luminosity-noclip-17);
}

.cls-22 {
    fill: url(#linear-gradient-10);
}

.cls-23 {
    mask: url(#mask-13);
    filter: url(#luminosity-noclip-18);
}

.cls-24 {
    fill: url(#linear-gradient-11);
}

.cls-25 {
    fill: url(#linear-gradient-12);
}

.cls-26,
.cls-41,
.cls-42,
.cls-43 {
    fill: none;
}

.cls-27 {
    isolation: isolate;
}

.cls-28 {
    clip-path: url(#clip-path);
}

.cls-29 {
    fill: url(#linear-gradient-13);
}

.cls-30 {
    clip-path: url(#clip-path-2);
}

.cls-31 {
    fill: url(#linear-gradient-14);
}

.cls-32 {
    fill: #4d4d4d;
}

.cls-33 {
    fill: url(#linear-gradient-15);
}

.cls-34 {
    fill: #3b3335;
}

.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-39 {
    fill-rule: evenodd;
}

.cls-35 {
    fill: #a8abad;
}

.cls-36 {
    fill: #dfe0e1;
}

.cls-37 {
    fill: #55484b;
}

.cls-38 {
    fill: #d0d2d3;
}

.cls-39 {
    fill: #8d8f91;
}

.cls-40 {
    fill: #bfbfbf;
}

.cls-41,
.cls-42,
.cls-43 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-41,
.cls-42 {
    stroke-width: 2px;
}

.cls-42,
.cls-43 {
    stroke-linecap: round;
}

.cls-44,
.cls-50,
.cls-58,
.cls-67 {
    opacity: 0.6;
}

.cls-44 {
    fill: url(#linear-gradient-16);
}

.cls-45 {
    mask: url(#mask-15);
}

.cls-46 {
    fill: url(#radial-gradient-3);
}

.cls-47 {
    mask: url(#mask-16);
}

.cls-48 {
    fill: url(#linear-gradient-17);
}

.cls-49,
.cls-61 {
    opacity: 0.5;
}

.cls-50 {
    fill: url(#linear-gradient-18);
}

.cls-51 {
    fill: url(#linear-gradient-19);
}

.cls-52 {
    mask: url(#mask-17);
}

.cls-53 {
    fill: url(#linear-gradient-20);
}

.cls-54 {
    mask: url(#mask-18);
}

.cls-55 {
    fill: url(#linear-gradient-21);
}

.cls-56,
.cls-60 {
    opacity: 0.8;
}

.cls-57,
.cls-61,
.cls-62 {
    fill: #fff;
}

.cls-58 {
    fill: url(#linear-gradient-22);
}

.cls-59 {
    mask: url(#mask-19);
}

.cls-60,
.cls-62,
.cls-69,
.cls-71 {
    mix-blend-mode: screen;
}

.cls-60 {
    fill: url(#linear-gradient-23);
}

.cls-63 {
    mask: url(#mask-21);
}

.cls-64 {
    fill: url(#radial-gradient-4);
}

.cls-65 {
    mask: url(#mask-22);
}

.cls-66 {
    fill: url(#linear-gradient-24);
}

.cls-67 {
    fill: url(#linear-gradient-25);
}

.cls-68 {
    mask: url(#mask-23);
}

.cls-69 {
    fill: url(#linear-gradient-26);
}

.cls-70 {
    mask: url(#mask-25);
}

.cls-71 {
    fill: url(#linear-gradient-27);
}

.cls-72 {
    fill: url(#linear-gradient-28);
}

.cls-73 {
    mask: url(#mask-27);
}

.cls-74 {
    fill: url(#linear-gradient-29);
}

.cls-75 {
    mask: url(#mask-28);
}

.cls-76 {
    fill: url(#linear-gradient-30);
}

.cls-77 {
    fill: #b6b6b6;
}

.cls-78 {
    filter: url(#luminosity-noclip-13);
}

.cls-79 {
    filter: url(#luminosity-noclip-12);
}

.cls-80 {
    filter: url(#luminosity-noclip-11);
}

.cls-81 {
    filter: url(#luminosity-noclip-10);
}

.cls-82 {
    filter: url(#luminosity-noclip-8);
}

.cls-83 {
    filter: url(#luminosity-noclip-5);
}

.cls-84 {
    filter: url(#luminosity-noclip-3);
}

.cls-85 {
    filter: url(#luminosity-noclip-2);
}

.cls-86 {
    filter: url(#luminosity-noclip);
}

.svg-frame{
  position: relative;

  .water-displaced{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}
