@import "../../scss/main.scss";

.opacity-liquid{
  opacity: 0.6;
}

.cls-1,
.cls-12 {
  mask: url(#mask);
}

.cls-1 {
  filter: url(#luminosity-noclip-15);
}

.cls-10,
.cls-11,
.cls-13,
.cls-15,
.cls-16,
.cls-18,
.cls-2,
.cls-20,
.cls-22,
.cls-24,
.cls-25,
.cls-4,
.cls-49,
.cls-51,
.cls-53,
.cls-55,
.cls-6,
.cls-60,
.cls-63,
.cls-69,
.cls-71,
.cls-72,
.cls-8,
.cls-81 {
  mix-blend-mode: multiply;
}

.cls-2 {
  fill: url(#radial-gradient);
}

.cls-3 {
  mask: url(#mask-2);
}

.cls-4 {
  fill: url(#linear-gradient);
}

.cls-5,
.cls-7 {
  mask: url(#mask-3);
}

.cls-5 {
  filter: url(#luminosity-noclip-20);
}

.cls-6 {
  fill: url(#radial-gradient-2);
}

.cls-7 {
  filter: url(#luminosity-noclip-21);
}

.cls-8 {
  fill: url(#linear-gradient-2);
}

.cls-9 {
  mask: url(#mask-5);
}

.cls-10 {
  fill: url(#linear-gradient-3);
}

.cls-11 {
  fill: url(#linear-gradient-4);
}

.cls-12 {
  filter: url(#luminosity-noclip-16);
}

.cls-13 {
  fill: url(#linear-gradient-5);
}

.cls-14 {
  mask: url(#mask-8);
}

.cls-15 {
  fill: url(#linear-gradient-6);
}

.cls-16 {
  fill: url(#linear-gradient-7);
}

.cls-17 {
  mask: url(#mask-10);
  filter: url(#luminosity-noclip-24);
}

.cls-18 {
  fill: url(#linear-gradient-8);
}

.cls-19 {
  mask: url(#mask-11);
  filter: url(#luminosity-noclip-25);
}

.cls-20 {
  fill: url(#linear-gradient-9);
}

.cls-21 {
  mask: url(#mask-12);
  filter: url(#luminosity-noclip-17);
}

.cls-22 {
  fill: url(#linear-gradient-10);
}

.cls-23 {
  mask: url(#mask-13);
  filter: url(#luminosity-noclip-18);
}

.cls-24 {
  fill: url(#linear-gradient-11);
}

.cls-25 {
  fill: url(#linear-gradient-12);
}

.cls-26,
.cls-46,
.cls-47,
.cls-48 {
  fill: none;
}

.cls-27 {
  isolation: isolate;
}

.cls-28 {
  clip-path: url(#clip-path);
}

.cls-29 {
  fill: url(#linear-gradient-13);
}

.cls-30 {
  clip-path: url(#clip-path-2);
}

.cls-31 {
  fill: url(#linear-gradient-14);
}

.cls-32 {
  fill: #4d4d4d;
}

.cls-33 {
  fill: url(#linear-gradient-15);
}

.cls-34 {
  fill: url(#linear-gradient-16);
}

.cls-35 {
  fill: url(#linear-gradient-17);
}

.cls-36 {
  fill: url(#linear-gradient-18);
}

.cls-37 {
  fill: url(#linear-gradient-19);
}

.cls-38 {
  fill: url(#linear-gradient-20);
}

.cls-39 {
  fill: #3b3335;
}

.cls-39,
.cls-40,
.cls-41,
.cls-42,
.cls-43,
.cls-44 {
  fill-rule: evenodd;
}

.cls-40 {
  fill: #a8abad;
}

.cls-41 {
  fill: #dfe0e1;
}

.cls-42 {
  fill: #55484b;
}

.cls-43 {
  fill: #d0d2d3;
}

.cls-44 {
  fill: #8d8f91;
}

.cls-45 {
  fill: #bfbfbf;
}

.cls-46,
.cls-47,
.cls-48 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-46,
.cls-47 {
  stroke-width: 2px;
}

.cls-47,
.cls-48 {
  stroke-linecap: round;
}

.cls-49,
.cls-55,
.cls-63,
.cls-72 {
  opacity: 0.6;
}

.cls-49 {
  fill: url(#linear-gradient-21);
}

.cls-50 {
  mask: url(#mask-15);
}

.cls-51 {
  fill: url(#radial-gradient-3);
}

.cls-52 {
  mask: url(#mask-16);
}

.cls-53 {
  fill: url(#linear-gradient-22);
}

.cls-54,
.cls-66 {
  opacity: 0.5;
}

.cls-55 {
  fill: url(#linear-gradient-23);
}

.cls-56 {
  fill: url(#linear-gradient-24);
}

.cls-57 {
  mask: url(#mask-17);
}

.cls-58 {
  fill: url(#linear-gradient-25);
}

.cls-59 {
  mask: url(#mask-18);
}

.cls-60 {
  fill: url(#linear-gradient-26);
}

.cls-61,
.cls-65 {
  opacity: 0.8;
}

.cls-62,
.cls-66,
.cls-67 {
  fill: #fff;
}

.cls-63 {
  fill: url(#linear-gradient-27);
}

.cls-64 {
  mask: url(#mask-19);
}

.cls-65,
.cls-67,
.cls-74,
.cls-76 {
  mix-blend-mode: screen;
}

.cls-65 {
  fill: url(#linear-gradient-28);
}

.cls-68 {
  mask: url(#mask-21);
}

.cls-69 {
  fill: url(#radial-gradient-4);
}

.cls-70 {
  mask: url(#mask-22);
}

.cls-71 {
  fill: url(#linear-gradient-29);
}

.cls-72 {
  fill: url(#linear-gradient-30);
}

.cls-73 {
  mask: url(#mask-23);
}

.cls-74 {
  fill: url(#linear-gradient-31);
}

.cls-75 {
  mask: url(#mask-25);
}

.cls-76 {
  fill: url(#linear-gradient-32);
}

.cls-77 {
  fill: url(#linear-gradient-33);
}

.cls-78 {
  mask: url(#mask-27);
}

.cls-79 {
  fill: url(#linear-gradient-34);
}

.cls-80 {
  mask: url(#mask-28);
}

.cls-81 {
  fill: url(#linear-gradient-35);
}

.cls-82 {
  fill: url(#linear-gradient-36);
}

.cls-83 {
  filter: url(#luminosity-noclip-13);
}

.cls-84 {
  filter: url(#luminosity-noclip-12);
}

.cls-85 {
  filter: url(#luminosity-noclip-11);
}

.cls-86 {
  filter: url(#luminosity-noclip-10);
}

.cls-87 {
  filter: url(#luminosity-noclip-8);
}

.cls-88 {
  filter: url(#luminosity-noclip-5);
}

.cls-89 {
  filter: url(#luminosity-noclip-3);
}

.cls-90 {
  filter: url(#luminosity-noclip-2);
}

.cls-91 {
  filter: url(#luminosity-noclip);
}
